# 環境
*.env

/venv_bob

# 後續決定將migrations做的紀錄上傳魚git方便後續資料庫迭代管控
# /apps/*/migrations

# 食譜的大容量檔案
*.csv

# BERT
*.pth

# System Record
*.log

daily_debug.*

*.png
*.jpg
*.jpeg
*.pdf
*.sql
# python 存取
__pycache__/
*.pyc